<%= form_for @kojima_name do |f| %>
    <%# <%= render 'shared/error_messages', object: f.object %>
    <%# <h2>Personal Information</h2> %>
    <%= f.label "1. What's your full name?", class: "question" %>
    <%= f.text_field :full_name %>

    <%= f.label "2. What's your occupation? (single -er noun)?", class: "question" %>
    <%= f.text_field :one_word_occupation %>

    <%= f.label "3. What was your first pet's specific species/breed? " \
                "If you never had a pet, please answer with an animal you wish " \
                "you owned.", class: "question" %>
    <%= f.text_field :pet %>

    <%= f.label "4. Condese your most embarrassing childhood memory into two words.", class: "question" %>
    <%= f.text_field :two_word_memory %>

    <%= f.label "5. What is the object you'd least like to be stabbed by?", class: "question"  %>
    <%= f.text_field :least_stab_object %>

    <%= f.label "6. What is something you are good at? (Verb ending in -ing)", class: "question"  %>
    <%= f.text_field :good_at %>

    <%= f.label "7. What is your greatest intangible fear (example: death, loneliness, fear itself)", class: "question"  %>
    <%= f.text_field :intangible_fear %>

    <%= f.label "8. What is your greatest tangible fear (example: horses)", class: "question"  %>
    <%= f.text_field :tangible_fear %>

    <%= f.label "9. What is the last thing you did before starting this worksheet?", class: "question"  %>
    <%= f.text_field :last_thing_you_did %>

    <%= f.label "10. What condition is your body currently in? (single word answer)", class: "question"  %>
    <%= f.text_field :body_condition %>

    <%= f.label "11. Favorite state of matter?", class: "question"  %>
    <%= f.text_field :fav_state_of_matter %>

    <%= f.label '12. A word your name kind of sounds like', class: "question"  %>
    <%= f.text_field :similar_name %>

    <%= f.label "13. What is your Zodiac sign?", class: "question"  %>
    <%= f.text_field :zodiac_sign %>

    <%= f.label "14. If you had to define your personality in one word, what would it be?", class: "question"  %>
    <%= f.text_field :personality %>

    <%# <h2>Kojima Information</h2> %>
    <%= f.label "15. Who is your favorite film character? (NOTE: must be played by Kurt Russell)", class: "question"  %>
    <%= f.text_field :film_character %>

    <%= f.label "16. What is the last word of the title of your favorite Kubrick film?", class: "question"  %>
    <%= f.text_field :kubrick %>

    <%= f.label "17. What is the first word in the title of your favorite Joy Division album?", class: "question"  %>
    <%= f.text_field :joy_division %>

    <%= f.label "18. What is a scientific term you picked up from listening to NPR once?", class: "question"  %>
    <%= f.text_field :npr %>

    <%= f.label "19. What is a piece of military hardware you think looks cool even though war is bad?", class: "question"  %>
    <%= f.text_field :military %>

    <%= f.label "20. What is something you’d enjoy watching Mads Mikkelsen do? Please condese into one word.", class: "question"  %>
    <%= f.text_field :one_word_mikkelsen %>

    <%= f.submit "Generate Names" %>
<% end %>