<h1>Your Kojima Names<h3>
    <h3>Normal Name:</h3>             <%= @kojima_name.normal_name %></h3>
    <h3>Occupational Name:</h3>       <%= @kojima_name.occupational_name %></h3>
    <h3>Horny Name:</h3>              <%= @kojima_name.horny_name %></h3>
    <h3>The Name:</h3>                <%= @kojima_name.the_name %></h3>
    <h3>Cool Name:</h3>               <%= @kojima_name.cool_name %></h3>
    <h3>Violent Name:</h3>            <%= @kojima_name.violent_name %></h3>
    <h3>Name that Lacks Subtext:</h3> <%= @kojima_name.lacks_subtext_name %></h3>
<br>
<br>
<%= link_to 'Try Again', root_path %>